.container {
    box-shadow: 1px -1px 30px -16px rgba(255,255,255,0.75);
    width: 80%;
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
}
.texts {
    display: flex;
    flex-direction: column;
}
.images {
    width: 250px;
    margin-right: 60px;
}
.links {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}